.cart{
    background-color: #e4eaee;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}
.cartTop{
    display: flex;
    flex-direction: column;
    position: relative;
}
.cartTop .cartTop_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.cartTop .cartTop_links .cart_left p{
    color: black;
    
}
.cartTop .cartTop_links .cart_left p span{
    font-size: 18px;
    font-weight: bolder;
}
.cartTop .cartTop_links .cart_links{
    margin-top: 5px;
    text-align: center;
}
.cartTop .cartTop_links .cart_links i:hover{
    transition: all 0.3s;
    transform: scale(1.3);
}
.cartTop .cartTop_links .cart_right i{
    font-size: 20px;
}

.cartTop .cartTop_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cartTop .cartTop_img div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #0046c0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.cartBottom{
    /* text-align:  */
}
.cartBottom h3{
    font-size: 25px;
    padding: 5px 0px;
    text-align: center;
    color: #0046c0;
}
.cartBottom .cart_profession{
    text-align: center;
    color: gray;
}
.cartBottom p{
    color: gray;
    font-size: 16px;
}
.cartBottom p span{
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.cart_job{
    margin-top: 30px;
    text-align: left;
    font-size: 16px;
    color: gray;
}
.cart_job span{
    color: black;
}

.cart_selection{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}
.cart_selection button{
    padding: 5px 20px;
    border-radius: 5px;
    /* border: 1px solid #0046c0; */
    border: none;
    background-color: #0046c0;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s;
}
.cart_selection button:hover{
    color: white;
    background-color: #0b57db;
}