.header{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    background-color: #CCCCFF;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999999;
    border-bottom: 2px solid gray;
}
.siteTitle{
    user-select: none;

}
.siteTitle h1{
    color: gray;
}
.siteTitle h1 span{
    color: #0046c0;
}
.siteTitle .hints{
    display:  block;
    color: gray;
    font-size: 13px;
    margin-top: -5px;
    margin-left: 35px;
}

.enterBudget{
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.enterBudget h3{
    margin-left: 10px;
    width: 200px;
}
.enterBudget input{
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #CCCCFF;
    /* background-color: white; */
    width: 130px;
}
.enterBudget input:focus{
    outline: none;
    border: 2px solid #0046c0;
    background-color: white;
}
.enterBudget i{
    color: #0046c0;
    font-size: 25px;
}
.selectionPart{
    display: flex;
    align-items: center;
}

.selectedPersion{
    height: 60px;
    display: flex;
    align-items: center;
}
.selectedPersion i{
    font-size: 35px;
    color: #0046c0;
    cursor: pointer;
    position: relative;
}
.selectedPersion span{
    color: white;
    font-size: 14px;
    background-color: red;
    padding: 2px 2px;
    border-radius: 12px;
    position: absolute;
    top: -5px;
    right: -5px;
}

.dropdownMenu{
    position: absolute;
    right: 0;
    top: 50;
    z-index: 999999;
    background-color: white;
    width: 280px;
    font-size: 16px;
    display: none;
}
.selectedPersion i:hover{
    color: black;
}
.selectedPersion i:hover .dropdownMenu{
    transition: all 0.3s;
    display: block;
}
.dropdownMenu ul{
    box-shadow: 0px 10px 20px 1px black;
}
.dropdownMenu ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid lightgray;
}
.dropdownMenu ul li:hover{
    transition: all 0.3s;
    transform: scale(1.1);
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
}
.dropdownMenu ul li .dropdown_wrap{
    display: flex;
    align-items: center;
}
.dropdownMenu ul li .dropdown_img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: lightgray;
    overflow: hidden;
    margin-right: 10px;
    border: 3px solid #0046c0;;
}
.dropdownMenu ul li .dropdown_salary{
    color: gray;
}

.dropdownMenu ul li .deSelect{
    color: black;
    width: 15px;
    height: 15px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
}
.dropdownMenu ul li .deSelect:hover{
    color: white;
    border: 1px solid red;
    background-color: red;
}

.selectionPart .salaryShow{
    margin-left: 20px;
    width: 170px;

}